body {
    padding: 0;
    margin: 0;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    font-size: 2.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    text-align: left;
    margin:0;
    font-family: '777Balsamtint';
    line-height: 3.5rem;
}
.title {
    font-size: 6rem;
    font-family: 'CookieRunOTF-Bold';
    text-align: center;
    position: fixed;
    top: 0;
    height: 10rem;
    width: 100%;
    background-color: #ffbb94;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px lightgray;
}
#arrow {
    object-fit: contain;
    width: 5rem;
    position: absolute;
    left: 1rem;
    top: 2.3rem;
}
input[type='checkbox'] {
    display: none;
}
input[type='checkbox'] + label {
    position: absolute;
    right: 2rem;
    object-fit: contain;
    width: 4rem;
    top: 0.5rem;
}
.settingbar {
    width: 15rem;
    height: 16rem;
    position: fixed;
    background: white;
    right: -3000px;
    z-index: 1;
    transition: all .35s;
    top: 7rem;
    box-shadow: 0px 0px 10px 0px lightgray;
    border-radius: 0.2rem;
}

input[type='checkbox']:checked + label + div {
    right: 1rem;
}
.content {
    background-color: #8fb8cc;
    height: 50vh;
    margin-top: 10rem;
}
.explain {
    font-size: 3rem;
    text-align: center;
    font-family: 'MapoPeacefull';
    margin: 0 auto;
    padding: 5rem;
}
#disqus_thread {
    height: 100%;
    background-color: white;
    padding: 1rem;
    font-size: 1rem;
}





@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '777Balsamtint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*responsive*/
/* Desktop Device */
@media all and (min-width:1025px) {
	html {
		font-size: 16px;
	}
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 14px;
    }
}


/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
    html {
        font-size: 10px;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
    html {
        font-size: 7px;
    }
}
/*responsive-end*/
